.login_container {
    -fx-background-color: #EEE;
}

.login_logo_container {
    -fx-background-color: #001B29;
    -fx-alignment: center;
}

.login_logo_container Text {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-fill: #FFF;
}

.login_form_container {
    -fx-spacing: 15;
    -fx-background-color: #00334D;
}

.login_form_container Label {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: #BDE9FF;
}

.login_form_container TextField, PasswordField {
    -fx-pref-width: 440;
    -fx-pref-height: 38;
    -fx-background-color: #00699E;
    -fx-font-size: 1.3em;
    -fx-text-fill: #BDE9FF;
}

.login_form_container Button {
    -fx-pref-width: 440;
    -fx-pref-height: 38;
    -fx-background-color: #A8E2FF;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: #00699E;
}

.login_form_container Button:hover {
    -fx-cursor: hand;
}